@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);
body{
    background-color: rgb(37, 151, 2);
    font-family: 'Lato';
    color: rgb(255, 254, 253);

}
h1 {
    text-align: center;
}
h2 {
    padding-left: 40px;
}
p {
    padding-left: 40px;
    text-align: justify;
}
#welcome-banner{
    background-color: rgb(47, 40, 36);
    position:absolute;
    top: 100px;
    right:0px;
    bottom:0px;
    left:0px;
}
#introduction{
    background-color: rgba(47, 40, 36);
    position:absolute;
    top: 0px;
    right:200px;
    bottom:0px;
    left:200px;
}
#java-server-entry{
    float: right;
    padding: 20px;
    width: 350px;
}
ul {
    padding-left: 40px;
}