@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);
body{
    background-color: rgb(62, 68, 60);
    font-family: 'Lato';
    color: rgb(166,185,111);

}
h1 {
    text-align: center;
}
h2 {
    padding-left: 40px;
}
p {
    padding-left: 40px;
    text-align: justify;
}
.banner{
    background-color: rgb(62,68,60);
    position:absolute;
    top: 100px;
    right:0px;
    bottom:0px;
    left:0px;
}
#join-discord{
    margin-left: 25px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    outline: none;
    color: #000000;
    background-color: rgb(190,214,158);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(130,140,81);
    position: absolute;
    right: 300px;
    z-index: 1;
}
.background{
    background-color: rgba(47, 40, 36);
    position:absolute;
    top: 0px;
    right:200px;
    bottom:0px;
    left:200px;
}

#join-discord:hover{
    background-color: rgb(85, 92, 69);
}
#join-discord:active{
    background-color: rgb(85,92,69);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#swamp-icon{
    float: right;
    padding: 20px;
    width: 350px;
}
#java-add-server-icon{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
#java-server-info{
    display:block;
    margin-right: auto;
    margin-left: auto;
}
#bedrock-add-server-icon{
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#bedrock-server-info{
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
ul {
    padding-left: 40px;
}