@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,200&display=swap');
@font-face {
    font-family: Poppins;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,200&display=swap');
  }
body{
    background-color: rgb(0, 0, 0);
    font-family: 'Lato';
    font-weight: 900;
    color: rgb(255, 255, 255);
    background-size: 100%;
}
.sticky {
    background-color: rgb(166,185,111);
    font-family: Poppins;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-style: 'Poppins', sans-serif;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.8);
    -webkit-font-smoothing: antialiased;
    z-index: 1;
    top: 5px;
    border-radius: 10px;
    padding: 10px 20px;
}
h2 {
    text-align: left;
    text-shadow: 1px 1px 0px black;
    font-size: 25px;
    color: white;
    padding-left: 25px;
}
p {
    text-align: left;
    color: rgb(255, 255, 255);
    font-family: 'Poppins';
    display:block;
    width: 50%;
    padding-left: 25px;
    text-shadow: 1px 1px 1px black;
}
h3 {
    text-align: center;
    text-shadow: 1px 1px 0px black;
}
.button {
    text-align: center;
    align-items: center;
    appearance: none;
    background-color: rgb(166,185,111);
    border-radius: 10px;
    border-width: 1px;
    box-shadow: rgb(255, 255, 255) 0 2px 4px,rgb(166,185,111) 0 7px 13px -3px,#ffffff00 0 -3px 0 inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: flex;
    font-family: Poppins;
    height: 36px;
    justify-content: center;
    line-height: 1;
    margin: 0 auto;
    padding: 10px 10px;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
}
#discord-button {
    position: absolute;
    float: left;
    left: 35px;
}
#java-home {
    bottom: 620px;
    right: 25px;
}
#bedrock-home {
    bottom: 2320px;
    right: 25px;
}
.button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
.button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}
  
.button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}
#info-image{
    width: 40%;
    display: block;
    margin-left: 2%;
    font-family: Poppins;
}
#keanu-is-hot {
    width: 50vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Poppins;
    position: relative;
    float: right;
    bottom: 500px;
    z-index: -1;
}
#credits{
    position: relative;
    padding-top: 40px;
    font-size: 12px;
}

#buzzo {
    width: 50px;
    border-radius: 100px;
    margin-left: 30px;
}

ul {
    padding-left: 40px;
    position: relative;
}
a {
    color: rgb(166,185,111);
    text-decoration: none;
    text-shadow: 1px 1px 0.5px black;
}

a:visited {
    color: rgb(166,185,111);
}
@media only screen and (max-width: 1024px) {
    .sticky {
        background-color: rgb(166,185,111);
        font-family: Poppins;
        text-align: center;
        text-shadow: 1px 1px 1px rgb(0, 0, 0);
        font-style: 'Poppins', sans-serif;
        font-size: 30px;
        color: rgba(0, 0, 0, 0.8);
        -webkit-font-smoothing: antialiased;
        z-index: 1;
        top: 5px;
        border-radius: 10px;
    }
    a {
        color: rgb(166,185,111)k;
        text-decoration: none;
        text-shadow: 1px 1px 3px rgb(62,68,60);
    }
    a:visited {
        color: rgb(166,185,111);
    }

    .notthisone {
        color:rgb(0, 0, 0)
    }
    p {
        text-align: center;
        color: rgb(255, 255, 255);
        font-family: 'Poppins';
        padding-left: 10px;
        width: 95%;
        text-shadow: 1px 1px 0.5px black;
    }
    
    h2 {
        text-align: center;
        text-shadow: 0.5px 0.5px 0px black;
        font-size: 25px;
        color: white;
    }
    .button {
        text-align: center;
        align-items: center;
        appearance: none;
        background-color: rgb(166,185,111);
        border-radius: 10px;
        border-width: 1px;
        box-shadow: rgb(255, 255, 255) 0 2px 4px,rgb(94, 85, 85) 0 7px 13px -3px,#ffffff00 0 -3px 0 inset;
        box-sizing: border-box;
        color: #000000;
        cursor: pointer;
        display: flex;
        font-family: Poppins;
        height: 36px;
        justify-content: center;
        line-height: 1;
        list-style: none;
        padding: 10px 10px;
        margin: 0 auto;
        text-decoration: none;
        transition: box-shadow .15s,transform .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        will-change: box-shadow,transform;
    }
    #discord-button {
        position: static;
        font-size: 17px;
        float: none;
    }
    #java-home {
        right: 35.6%;
        bottom: 0px; 
        padding: 10px 33%;  
    }
    #bedrock-home {
        right: 35.6%;
        bottom: 0px;    
        padding: 10px 33%;
    }

    .button:focus {
        box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
      }
      
      .button:hover {
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
        transform: translateY(-2px);
      }
      
      .button:active {
        box-shadow: hsl(240, 26%, 87%) 0 3px 7px inset;
        transform: translateY(2px);
      }
    #info-image{
        display:block;
        margin-right: auto;
        margin-left: auto;
        width: 90%;
        font-family: Poppins;
    }
    #keanu-is-hot {
        width: 0%;
    }
    ul {
        padding-bottom: 25px;
        padding-top: 25px;
        position: static;
        line-height: 25px;
    }
    #credits {
        position:static;
        font-size: 13px;
        padding-top: 20px;
        width: 100%;
    }

    #buzzo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}